{% extends '../base/base.html' %}
{% load static %}

{% block content %}


<div class='post'>
        {% if user.is_staff %}
        <div class="mod-post-header">
                <p>Moderation options: <p>
                <div><a class="btn btn-warning  mod-button" href="{% url 'blog-post-delete' post.id%}">Delete post</a></div>
                <div><a class="btn btn-warning mod-button" href="{% url 'blog-post-update' post.id%}">Update post</a></div>
        </div>
        {% endif %}

        
                {% if post.cover %}

                <div class='post__cover'>
                <img src="{{ post.cover.url}}"
                     alt="">
        </div>
                {% else %}
                
                <div class='post__cover'>
                <img src="{% static "./img/logo.svg" %}"
                     alt="">
        </div>
                {% endif %}


        <h2 class='post__title'> {{ post.title}}</h2>
        <h3 class='post__author'> <a href="{% url 'blog-profile-detail' post.author.id %}">By {{post.author}}</a></h3>
        <div class='post__body'> {{ post.body|safe}}</div>



        


        <h2 class="comments-title">Comments</h2>

        {% if not post.comments.all %}
        <div class="no-comments" >No comments yet... <i class="fas fa-sad-tear"></i> </div>
        {% else %}

        {% for comment in post.comments.all %}
        {% if comment.parent is Null and comment.enabled is True %}
        <div class="commentary-section">
                <div class="comment-header">
                        <p><i class="fas fa-user author-icon"></i><a href="{% url 'blog-profile-detail' comment.author.profile.id %}">By {{comment.author}}</a></p> 
                        <p class="comment-upload-date">{{ comment.upload_date|timesince}} ago </p>
                </div>

        <p class="body">{{ comment.body }}</p>
        </div>
        {% endif %}
      
        <!-- {% for reply in comment.replies.all %}
        <p>{{comment.author}} {{ comment.upload_date}} ({{reply.parent.id}}){{ reply.body }}</p>
        {% endfor %} -->
        {% endfor %}
        {% endif %}
        {{ alert }}




</div>

{% if user.is_authenticated %}
<form method="POST" class="filter comment-form">
        {% csrf_token %}
        {{ form.as_table }}
        <button type="submit" class="btn btn-primary" >Comment!</button>
</form>
{% else %}
<div>Login to make a comment</div>
{% endif %}

{% endblock content %}

{% block scripts %}
<script src={% static "./scripts/modal-view.js" %}></script>
<script src={% static "./scripts/toggle-nav.js" %}></script>
<script src={% static "./scripts/scroll-navigation.js" %}></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
{% endblock scripts %}
