{% extends '../base/base.html' %}
{% load static %}

{% block css %}
        <script src="{% url 'js-catlog' %}"></script>
        <script src="{% static '/admin/js/core.js' %}"></script>
        <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">

{% endblock css %}

{% block content %}

<form method="GET" action="{% url 'blog-post-search' %}" >
        {{ form.media }}
        {{ form.as_p }} 
        <button type="submit"
                value="Submit">Search now</button>
</form>

<div class="post_container">
        {% for post in object_list %}

        <div class='post_summary'>
                <div style="background-image: url({{post.cover.url}})"
                     class='post_summary__cover'>

                </div>
                <div class='post_summary__content'>
                        <div>{{post.category}}</div>
                        <div>{{post.title}}</div>
                        <a href="{% url 'blog-profile-detail' post.author.id %}">{{post.author}}</a>
                        <p>{{ post.body|safe|striptags|truncatechars_html:"150" }}</p>
                        <div>{{post.upload_date}}</div>
                        <div class="post_read_more"><a href="{% url 'blog-post-detail' post.id %}">Read more...</a>
                        </div>
                </div>
        </div>

        {% endfor %}
</div>
<div class="blog_pagination">
        <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="{{ request.get_full_path }}&page=1">&laquo; first</a>
                <a href="{{ request.get_full_path }}&page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                <a href="{{ request.get_full_path }}&page={{ page_obj.next_page_number }}">next</a>
                <a href="{{ request.get_full_path }}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
        </span>
</div>

{% endblock content %}

{% block scripts %}
<script src={% static "./scripts/toggle-nav.js" %}></script>
<script src={% static "./scripts/scroll-navigation.js" %}></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>


    
{% endblock scripts %}
