.img_gallery {
    display: grid;
    min-height: 100vh;

    grid-template-columns: 1fr 1fr 1fr;

    grid-template-rows: auto;
    justify-items: center;

    @media screen and (max-width: 700px) {
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 625px) {
        grid-template-columns: 1fr;
    }
}

.gallery_title {
    font-size: 5rem;
    @include flex(center, center, row);
    padding: 2rem 0rem;
}
.screenshot {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s;
    min-height: 24rem;
}

.screenshot:hover {
    opacity: 0.5;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    // overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    margin-top: 1%;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    font-size: 2.4rem;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/* The Close Button */
.close {
    z-index: 2;
    position: absolute;
    top: 7rem;
    right: 3.5rem;
    color: #f1f1f1;
    font-size: 5rem;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}
