$background-color: #24262b;
$main-color: #171b29;
$secondary-color: #ff56ad;
$error-color: #ff9454;
$gradient: linear-gradient(to left, #fc0441, #f62da8);
$text-main-color: white;
$text-secondary-color: #9da1b2;

$header1: 1rem;
$header2: 2rem;
$header3: 2rem;
$header4: 1rem;
$text: 1.4rem;
