{% extends '../base/base.html' %} {% block content %} {% if object_list %}
<h2 class="big-title">User list</h2>
<div class="filter"
     style="height:80vh;">
    {% for user in object_list %}

    <div class="user_list">
        <div class="user_list_data">
            <p>Username: {{ user.username }}</p>
            <p>email: {{ user.email }}</p>
        </div>
        <div>
            <a class="btn btn-primary"
               href="{% url 'blog-profile-detail' user.profile.id %} ">See this profile</a>
        </div>
    </div>

    {% endfor %} {% else %}
    <h1>No users!</h1>
    {% endif %} {% endblock content %}
</div>
